#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;

}
.skillTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}
.skillDesc{
    font-weight: 200;
    font-size: medium;
    max-width: 50rem;
    padding: 0 2rem;


}
.skillBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}
.skillBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}
.skillBarText{
    font-size:0.75rem;
    font-weight: 200;
}




#skills{
    overflow: hidden;
    width: 100vw;
    /* max-width: 65rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.skillTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}
.skillDesc{
    font-weight: 200;
    font-size: medium;
    max-width: 50rem;
    padding: 0 2rem;


}
.skillBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}
.skillBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    /* background: rgb(50, 50, 50); */
    background-color: #4a4e69;

}
.skillBarText{
    font-size:0.75rem;
    font-weight:200;
}

#skills{
    overflow: hidden;
    width: 100vw;
    /* max-width: 65rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    background-color: #22223b;
    color: #eae0d5;
}
.skillTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}
.skillDesc{
    font-weight: 200;
    font-size: medium;
    max-width: 50rem;
    padding: 0 2rem;


}
.skillBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}
.skillBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    /* background: rgb(50, 50, 50); */
    background-color: #4a4e69;

}
.skillBarText{
    font-size:0.75rem;
    font-weight:200;
}
.column-about{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 3rem;
    justify-content: space-between;
  }
  .image-container{
      width: 20rem;
      height: 20rem;
      border-radius: 15rem;
      border: 4px solid #4a4e69;
  }
  .image-container:hover{
   border: 4px solid #eae0d5;
 }